<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarefa Login</title>
    <link rel="stylesheet" href="login.css">
    <script src="https://unpkg.com/vue@3.2.20/dist/vue.global.prod.js"></script>
</head>
<body class="gradiente">
    <div id="app">
        <div class="login-form">
            <label>Nome do usuário</label>
            <input type="text" id="nomedousuario" v-model="nomedousuario">
            <label>Senha</label>
            <input type="password" id="password" v-model="password">
            <button @click="autenticar">Login</button>
            <button @click="formulario">Sing-In</button>
        </div>
        <div v-if="exibirErro" class="mensagem-validacao">
            Usuário não cadastrado
        </div>
        <div v-if="exibirFormulario" class="formulario">
            <h2>Cadastro</h2>
            <label for="usuario">Usuário:</label>
            <input type="text" id="usuario" v-model="novoUsuario.usuario">
            <label for="senhaCadastro">Senha:</label>
            <input type="password" id="senha" v-model="novoUsuario.senha">
            <button @click="cadastrar">Cadastrar</button>
        </div>
        <div v-if="cadastroRealizado" class="mensagem-cadastro">
            Cadastro realizado!
        </div>
    </div>
    <script src="login.js"></script>
</body>
</html>

<script>
const API_URL = 'https://tarefadatabase.vercel.app';

const app = Vue.createApp({
    data() {
        return {
            nomedousuario: '',
            password: '',
            exibirFormulario: false,
            novoUsuario: {
                usuario: '',
                senha: ''
            },
            exibirErro: false,
            cadastroRealizado: false
        }
    },
    methods: {
        formulario() {
            this.exibirFormulario = !this.exibirFormulario;
        },
        async cadastrar() {
            try {
                await this.cadastrarUsuarioBD(this.novoUsuario.usuario, this.novoUsuario.senha);
                this.cadastroRealizado = true;
            } catch (error) {
                console.error('Erro ao cadastrar usuário:', error);
            }
        },
        async cadastrarUsuarioBD(usuario, senha) {
            try {
                const response = await fetch(`${API_URL}/inserirUsuario`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ usuario, senha })
                });
                if (!response.ok) {
                    throw new Error('Erro ao inserir usuário no banco de dados.');
                }
                console.log('Usuário inserido com sucesso.');
            } catch (error) {
                console.error('Erro ao inserir usuário no banco de dados:', error);
                throw error; // Propaga o erro para ser tratado onde a função foi chamada
            }
        },
        async autenticar() {
            try {
                const response = await fetch(`${API_URL}/validarUsuario?usuario=${this.nomedousuario}&senha=${this.password}`, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                if (!response.ok) {
                    this.exibirErro = true;
                } else {
                    this.exibirErro = false;
                    this.exibirFormulario = false; // Esconde o formulário de cadastro após autenticar
                    window.location.href = 'game.html'; // Redireciona para a página do jogo
                }
                console.log('Usuário validado com sucesso.');
            } catch (error) {
                console.error('Erro ao validar usuário:', error);
            }
        }
    }
});

app.mount('#app');
</script>
